.Container {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  border: 1px solid #dadada;
}

.ListItem {
  text-decoration: none;
  display: block;
  margin: 25px 0;
  border: 1px solid #dadada;
  padding: 15px;
  width: 90%;
  margin-left: 10px;
}

.Checkbox {
  font-size: 18px;
  cursor: pointer;
}

.Item {
  font-size: 18px;
  padding-left: 10px; 
}