.Container {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  border: 1px solid #dadada;
  box-shadow:
  /* The top layer shadow */
  0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
  0 10px 0 -5px #eee,
      /* The second layer shadow */
  0 10px 1px -4px rgba(0,0,0,0.15),
      /* The third layer */
  0 20px 0 -10px #eee,
      /* The third layer shadow */
  0 20px 1px -9px rgba(0,0,0,0.15);
}

.ListItem {
  text-decoration: none;
  display: block;
  margin: 25px 0;
  border: 1px solid #dadada;
  padding: 15px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.Checkbox {
  font-size: 18px;
  cursor: pointer;
}

.Item {
  font-size: 18px;
  padding-left: 10px; 
}